.not-active {
  color: #ffffff !important;
  background: transparent;
}

.stepper-btn1{
  border: none;
  background: transparent;
  color: black;
  padding: 2px 2px 2px 2px;
}

:host ::ng-deep.side.mat-accordion>.mat-expansion-panel{
  background: transparent;
  border: none;
}



.stepper-btn1 span:focus{
  border: none;
  background: transparent;
  color: black;
  text-decoration: underline;
}

.stepper-btn1 span:hover{
  border: none;
  background: white;
  color: black;
  text-decoration: underline;
}

.mat-nav-list .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.active {
  background: #fff !important;
  border-radius: 10px;
  max-width: 95%;
  margin: 0 auto;
  color: black;
}

.left-arrow img {
  position: absolute;
  right: 30%;
  top: 40px;
  border-radius: 0px 10px 10px 0px;
  width: 50px;
}

.full-width {
  width: 70%;
  font-size: 15px;
  /* margin-bottom: 40px !important; */
}

.parent {
  height: fit-content;
}

:host ::ng-deep .mdc-list-item__content {
  display: flex;
  align-items: center;
  text-align: center;
}

:host ::ng-deep .kunden_panel.mat-expansion-panel{
  /* margin-left: 6px; */
  box-shadow: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: transparent !important;
  max-width: 100%;
  color: black;
}

:host ::ng-deep .kunden_panel.active.mat-expansion-panel {
  margin-left: 6px;
  box-shadow: none;
  width: 100%;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #fff !important;
  border-radius: 10px;
  max-width: 100%;
  margin: 0 auto;
  color: black;
}



:host ::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255) !important;
}

:host ::ng-deep.active .mdc-list-item__primary-text {
  color: black !important;
}

:host ::ng-deep.mat-mdc-icon-button img {
  width: 50px !important;
  height: 40px;
}