.not-active {
  color: #ffffff !important;
}

.mat-nav-list .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.active {
  background: #fff !important;
  border-radius: 10px;
  max-width: 95%;
  margin: 0 auto;
  color: black;
}
.left-arrow img {
  position: absolute;
  right: 30%;
  top: 40px;
  border-radius: 0px 10px 10px 0px;
  width: 50px;
}

.full-width {
  width: 70%;
  font-size: 15px;
  /* margin-bottom: 40px !important; */
}
.parent{
  height: fit-content;
}

:host ::ng-deep .mdc-list-item__content{
    display: flex;
    align-items: center;
    text-align: center;
}

/* :host ::ng-deep .mdc-list-item__primary-text{
  display: flex;
  align-items: center;
} */



:host ::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255) !important;
}

:host ::ng-deep.active .mdc-list-item__primary-text {
  color: black !important;
}

:host ::ng-deep.mat-mdc-icon-button img{
  width: 50px !important;
  height: 40px;
}