<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-content">
                    <span>© {{year}} Fioretto Group Holding GmbH | <a class="text-decoration-none text-white"
                            role="button" [routerLink]="['/data-policy']" [queryParams]="{ id: '1' }"
                            target="blank">Impressum</a> | <a class="text-decoration-none text-white" role="button"
                            [routerLink]="['/data-policy']" [queryParams]="{ id: '2' }"
                            target="blank">Datenschutzbestimmungen</a> | <a class="text-decoration-none text-white"
                            role="button" [routerLink]="['/data-policy']" [queryParams]="{ id: '3' }"
                            target="blank">Cookies</a> | <a class="text-decoration-none text-white" role="button"
                            [routerLink]="['/data-policy']" [queryParams]="{ id: '4' }"
                            target="blank">Nutzungsbedingungen</a></span>
                </div>
            </div>
        </div>
    </div>
</div>