<app-nav-bar></app-nav-bar>
<section>
    <div class="about-wrap">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="about-content">
                        <div class="about-main-title">
                            <h2>Über uns</h2>
                        </div>
                        <div class="about-list">
                            <ul>
                                <li>
                                    <div class="about-list-ico">
                                        <img src="../../assets/about-us/about-ico1.svg" alt="ico">
                                    </div>
                                    <div class="about-list-content">
                                        <h3>Unsere Aufgabe</h3>
                                        <p>Die Cefima GmbH ist ein Unternehmen welches Finanzprodukte aus den meisten
                                            Sparten der Versicherungs- und Finanzdienstleistungsbranche
                                            Gewerbetreibenden, Finanzvermittlern und deren Kunden als digitales Asset
                                            zur Verfügung stellt.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-ico">
                                        <img src="../../assets/about-us/about-ico2.svg" alt="ico">
                                    </div>
                                    <div class="about-list-content">
                                        <h3>Die Mission</h3>
                                        <p>Die Mission von CEFIMA ist es, allen Akteuren in deren Geschäftsprozessen
                                            volldigital, haftungssicher und transparent Produkttransaktionen zu
                                            ermöglichen. Hierbei verknüpft CEFIMA Produktpartner, Finanzvermittler und
                                            Endkunden digital.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-ico">
                                        <img src="../../assets/about-us/about-ico3.svg" alt="ico">
                                    </div>
                                    <div class="about-list-content">
                                        <h3>Der Support</h3>
                                        <p>Wir unterstützen persönlich und digital alle Prozesse unserer Kunden und
                                            Vermittler und passen unserer Produktportfolio ständig den aktuellen
                                            Marktbedürfnissen an.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="about-img d-md-block d-none">
                        <img src="../../assets/about-us/about.png" alt="about-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-front-footer></app-front-footer>