<link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
    rel="stylesheet">
<div class="main_hedding">
    <div class="neoloop-impressun">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo_impressun" role="button" [routerLink]="['/']">
                        <img src="assets/cefima/logo.svg">
                    </div>
                    <div class="neoloop-top">
                        <a role="button">
                            <ng-container *ngIf="active == 1">Impressum</ng-container>
                            <ng-container *ngIf="active == 2">Datenschutzbestimmungen</ng-container>
                            <ng-container *ngIf="active == 3">Cookies</ng-container>
                            <ng-container *ngIf="active == 4">Nutzungsbedingungen</ng-container>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-middles">
        <div class="container-fluid">
            <div class="row">
                <div class="mean_box">
                    <div class="Left_tabs">
                        <div class="liegen">
                            <ul>
                                <li role="button" (click)="active = 1">
                                    <div [ngClass]="active == 1 ? 'box_tab1' : 'benutzten'">
                                        <h2>Impressum </h2>
                                        <p *ngIf="active == 1"><img src="assets/cefima/blue-arrow.svg"></p>
                                        <span *ngIf="active == 1">Alle hier verwendeten Namen, Begriffe, Zeichen und
                                            Grafiken können Marken- oder Warenzeichen im Besitze ihrer rechtlichen
                                            Eigentümer sein. Die Rechte aller erwähnten und benutzten Marken- und
                                            Warenzeichen liegen ausschließlich bei deren Besitzern.</span>
                                    </div>

                                </li>

                                <li role="button" (click)="active = 2">
                                    <div [ngClass]="active == 2 ? 'box_tab2' : 'benutzten'">
                                        <h2>Datenschutzbestimmungen</h2>
                                        <p *ngIf="active == 2"><img src="assets/cefima/blue-arrow.svg"></p>
                                        <span *ngIf="active == 2">Erklärung zum Datenschutz (Privacy Policy) für DFG
                                            Finanzprofi GmbH
                                        </span>
                                    </div>
                                </li>
                                <li role="button" (click)="active = 3">
                                    <div [ngClass]="active == 3 ? 'box_tab0' : 'benutzten'">
                                        <h2>Cookies</h2>
                                        <p *ngIf="active == 3"><img src="assets/cefima/blue-arrow.svg"></p>
                                    </div>
                                </li>
                                <li role="button" (click)="active = 4">
                                    <div [ngClass]="active == 4 ? 'box_tab3' : 'benutzten'">
                                        <h2>Nutzungsbedingungen</h2>
                                        <p *ngIf="active == 4"><img src="assets/cefima/blue-arrow.svg"></p>
                                        <span *ngIf="active == 4">Allgemeine Nutzungsbedingungen Fioretto Group Holding
                                            GmbH
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="right_tabs" [ngClass]="active == 4 ? 'bottom-left-radius-none': ''"
                        [ngStyle]="active == 1 ? {'border-top-left-radius': '0px'} : {}">
                        <div class="content_tabs" *ngIf="active == 1">
                            <div class="content_tabs_right">
                                <div class="anbieter">
                                    <span><img src="assets/cefima/icon31.svg"></span>
                                    <p>Anbieter</p>
                                    <ul>
                                        <li>DFG Finanzprofi GmbH </li>
                                        <li>Josefstraße 22</li>
                                        <li>36088 Hünfeld</li>
                                        <li>Deutschland</li>
                                    </ul>
                                </div>

                                <div class="anbieter">
                                    <ul>
                                        <li>Tel. +49 (0) 66 52 / 9824 – 690</li>
                                        <li>Fax +49 (0) 66 52 / 9824 – 691</li>
                                    </ul>
                                </div>

                                <div class="anbieter">
                                    <span><img src="assets/cefima/icon32.svg"></span>
                                    <p>Geschäftsführung</p>
                                    <ul>
                                        <li>Vertretungsberechtigter Geschäftsführer: Filippo Fioretto</li>
                                    </ul>
                                </div>

                                <div class="anbieter">
                                    <span><img src="assets/cefima/icon33.svg"></span>
                                    <p>Sitz der Gesellschaft</p>
                                    <ul>
                                        <li>Hünfeld, Deutschland</li>
                                    </ul>
                                </div>
                                <div class="anbieter">
                                    <span><img src="assets/cefima/icon34.svg"></span>
                                    <p>Registergericht</p>
                                    <ul>
                                        <li>Fulda, HRB 6902</li>
                                    </ul>
                                </div>

                                <div class="anbieter">
                                    <span><img src="assets/cefima/icon35.svg"></span>
                                    <p>Verantwortlicher gemäß § 55 Abs. 2 RStV</p>
                                    <ul>
                                        <li>Filippo Fioretto</li>
                                        <li>Josefstraße 22</li>
                                        <li>36088 Hünfeld</li>
                                        <li>Deutschland</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="active == 2">
                            <div class="Vorwort">
                                <ul>
                                    <li>
                                        <h2>Vorwort </h2>
                                    </li>
                                </ul>
                                <p>Die Betreiber von DFG Finanzprofi GmbH nehmen den Schutz der privaten Daten ernst.
                                    Die besondere Beachtung der Privatsphäre bei der Verarbeitung persönlicher Daten ist
                                    ein wichtiges Anliegen. Persönliche Daten werden gemäß den Bestimmungen der
                                    Datenschutzgrundverordnung DSGVO verwendet; die Betreiber dieser Website
                                    verpflichten sich zur Verschwiegenheit. Diese Webseiten können Links zu Webseiten
                                    anderer Anbieter enthalten, auf die sich diese Datenschutzerklärung nicht erstreckt.
                                    Weitere wichtige Informationen finden sich auch in den Allgemeinen
                                    Nutzungsbedingungen.
                                </p>
                            </div>
                            <div class="Vorwort1">
                                <ul>
                                    <li>
                                        <h2>1. Personenbezogene Daten</h2>
                                    </li>
                                </ul>
                                <p>Personenbezogene Daten sind Informationen, die dazu genutzt werden können, die
                                    Identität zu erfahren. Darunter fallen Informationen wie richtiger Name, Adresse,
                                    Postanschrift, Telefonnummer. Informationen, die nicht direkt mit der wirklichen
                                    Identität in Verbindung gebracht werden (wie zum Beispiel favorisierte Webseiten
                                    oder Anzahl der Nutzer einer Site) fallen nicht darunter.</p>

                                <p>Man kann unser Online-Angebot grundsätzlich ohne Offenlegung der Identität nutzen.
                                    Wenn man sich für eine Registrierung entscheidet, sich also als Mitglied
                                    (registrierter Benutzer) anmeldet, kann man im individuellen Benutzerprofil
                                    persönlichen Informationen hinterlegen. Es unterliegt der freien Entscheidung, ob
                                    diese Daten eingegeben werden. Da versucht wird, für eine Nutzung des Angebots so
                                    wenig wie möglich personenbezogene Daten zu erheben, reicht für eine Registrierung
                                    die Angabe eines Namens – unter dem man als Mitglied geführt wird und der nicht mit
                                    dem realen Namen übereinstimmen muss – und die Angabe der E-Mail-Adresse, an die das
                                    Kennwort geschickt wird, aus. In Verbindung mit dem Zugriff auf unsere Seiten werden
                                    serverseitig Daten (zum Beispiel IP-Adresse, Datum, Uhrzeit und betrachtete Seiten)
                                    gespeichert. Es findet keine personenbezogene Verwertung statt. Die statistische
                                    Auswertung anonymisierter Datensätze bleibt vorbehalten.</p>
                                <p>Wir nutzen die persönlichen Daten zu Zwecken der technischen Administration der
                                    Webseiten und zur Kundenverwaltung nur im jeweils dafür erforderlichen Umfang.
                                    Darüber hinaus werden persönliche Daten nur dann gespeichert, wenn diese freiwillig
                                    angegeben werden.
                                </p>
                                <ul>
                                    <li>
                                        <h2>2. Weitergabe personenbezogener Daten</h2>
                                    </li>
                                </ul>
                                <p>Wir verwenden personenbezogene Informationen nur für diese Webseite. Wir geben die
                                    Informationen nicht ohne ausdrückliches Einverständnis an Dritte weiter. Sollten im
                                    Rahmen der Auftragsdatenverarbeitung Daten an Dienstleister weitergegeben werden, so
                                    sind diese an die Datenschutzgrundverordnung DSGVO, andere gesetzliche Vorschriften
                                    und an diese Privacy Policy gebunden. Erhebungen beziehungsweise übermittlungen
                                    persönlicher Daten an staatliche Einrichtungen und Behörden erfolgen nur im Rahmen
                                    zwingender Rechtsvorschriften.</p>
                                <ul>
                                    <li>
                                        <h2>3. Einsatz von Cookies</h2>
                                    </li>
                                </ul>
                                <p>Wir setzen Cookies – kleine Dateien mit Konfigurationsinformationen – ein. Sie helfen
                                    dabei, benutzerindividuelle Einstellungen zu ermitteln und spezielle
                                    Benutzerfunktionen zu realisieren. Wir erfassen keine personenbezogenen Daten über
                                    Cookies. Sämtliche Funktionen der Website sind auch ohne Cookies einsetzbar, einige
                                    benutzerdefinierte Eigenschaften und Einstellungen sind dann allerdings nicht
                                    verfügbar.</p>
                                <ul>
                                    <li>
                                        <h2>4. Kinder Personen unter 18</h2>
                                    </li>
                                </ul>
                                <p>Jahren sollten ohne Zustimmung der Eltern oder Erziehungsberechtigten keine
                                    personenbezogenen Daten an uns übermitteln. Wir fordern keine personenbezogenen
                                    Daten von Kindern an, sammeln diese nicht und geben sie nicht an Dritte weiter.</p>
                                <ul>
                                    <li>
                                        <h2>5. Recht auf Widerruf </h2>
                                    </li>
                                </ul>
                                <p> Wenn Sie uns personenbezogene Daten überlassen haben, können Sie diese jederzeit im
                                    Benutzerprofil wieder ändern und löschen. Für eine vollständige Löschung des
                                    Accounts bitte an den Webmaster wenden. Bis zu diesem Zeitpunkt erfolgte Beiträge in
                                    Foren, Kommentaren, Terminankündigungen und Artikeln bleiben allerdings unter
                                    Umständen erhalten – Informationen dazu auch bei den allgemeinen
                                    Nutzungsbedingungen.
                                </p>
                                <ul>
                                    <li>
                                        <h2>6. Links zu anderen</h2>
                                    </li>
                                </ul>
                                <p>Websites Unser Online-Angebot enthält Links zu anderen Websites. Wir haben keinen
                                    Einfluss darauf, dass deren Betreiber die Datenschutzbestimmungen einhalten.</p>
                                <ul>
                                    <li>
                                        <h2>7. Beiträge Die Beiträge auf unserer</h2>
                                    </li>
                                </ul>
                                <p> Seite sind für jeden zugänglich. Beiträge sollten vor der Veröffentlichung
                                    sorgfältig darauf überprüft werden, ob sie Angaben enthalten, die nicht für die
                                    Öffentlichkeit bestimmt sind. Die Beiträge werden möglicherweise in Suchmaschinen
                                    erfasst und auch ohne gezielten Aufruf dieser Website weltweit zugreifbar.</p>
                                <ul>
                                    <li>
                                        <h2>8. Fragen und Kommentare Bei </h2>
                                    </li>
                                </ul>
                                <p>Fragen und für Anregungen und Kommentare zum Thema
                                    Datenschutz bitte per Mail an den Webmaster der DFG Finanzprofi GmbH.</p>
                            </div>
                        </div>


                        <div *ngIf="active == 3">
                            <div class="Vorwort">
                                <ul>
                                    <li>
                                        <h2>1. Sitzungs-Cookies</h2>
                                    </li>
                                </ul>
                                <p>Session-Cookies Wir verwenden mit unserem Internetauftritt sog. Cookies. Cookies sind
                                    kleine Textdateien oder andere Speichertechnologien, die durch den von Ihnen
                                    eingesetzten Internet-Browser auf Ihrem Endgerät ablegt und gespeichert werden.
                                    Durch diese Cookies werden im individuellen Umfang bestimmte Informationen von
                                    Ihnen, wie beispielsweise Ihre Browser- oder Standortdaten oder Ihre IP-Adresse,
                                    verarbeitet.</p>
                                <p>Durch diese Verarbeitung wird unser Internetauftritt benutzerfreundlicher, effektiver
                                    und sicherer, da die Verarbeitung bspw. die Wiedergabe unseres Internetauftritts in
                                    unterschiedlichen Sprachen oder das Angebot einer Warenkorbfunktion ermöglicht.</p>
                                <p>Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 lit b.) DSGVO, sofern diese
                                    Cookies Daten zur Vertragsanbahnung oder Vertragsabwicklung verarbeitet werden.</p>
                                <p>Falls die Verarbeitung nicht der Vertragsanbahnung oder Vertragsabwicklung dient,
                                    liegt unser berechtigtes Interesse in der Verbesserung der Funktionalität unseres
                                    Internetauftritts. Rechtsgrundlage ist in dann Art. 6 Abs. 1 lit. f) DSGVO.</p>
                                <p>Mit Schließen Ihres Internet-Browsers werden diese Session-Cookies gelöscht.</p>
                            </div>
                            <div class="Vorwort1">
                                <ul>
                                    <li>
                                        <h2>1. Drittanbieter-Cookies </h2>
                                    </li>
                                </ul>
                                <p>Gegebenenfalls werden mit unserem Internetauftritt auch Cookies von
                                    Partnerunternehmen, mit denen wir zum Zwecke der Werbung, der Analyse oder der
                                    Funktionalitäten unseres Internetauftritts zusammenarbeiten, verwendet.</p>
                                <p>Die Einzelheiten hierzu, insbesondere zu den Zwecken und den Rechtsgrundlagen der
                                    Verarbeitung solcher Drittanbieter-Cookies, entnehmen Sie bitte den nachfolgenden
                                    Informationen.</p>
                            </div>
                            <div class="Vorwort1">
                                <ul>
                                    <li>
                                        <h2>1. Beseitigungsmöglichkeit</h2>
                                    </li>
                                </ul>
                                <p>Sie können die Installation der Cookies durch eine Einstellung Ihres
                                    Internet-Browsers verhindern oder einschränken. Ebenfalls können Sie bereits
                                    gespeicherte Cookies jederzeit löschen. Die hierfür erforderlichen Schritte und
                                    Maßnahmen hängen jedoch von Ihrem konkret genutzten Internet-Browser ab. Bei Fragen
                                    benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres
                                    Internet-Browsers oder wenden sich an dessen Hersteller bzw. Support. Bei sog.
                                    Flash-Cookies kann die Verarbeitung allerdings nicht über die Einstellungen des
                                    Browsers unterbunden werden. Stattdessen müssen Sie insoweit die Einstellung Ihres
                                    Flash-Players ändern. Auch die hierfür erforderlichen Schritte und Maßnahmen hängen
                                    von Ihrem konkret genutzten Flash-Player ab. Bei Fragen benutzen Sie daher bitte
                                    ebenso die Hilfefunktion oder Dokumentation Ihres Flash-Players oder wenden sich an
                                    den Hersteller bzw. Benutzer-Support.
                                </p>
                                <p>Sollten Sie die Installation der Cookies verhindern oder einschränken, kann dies
                                    allerdings dazu führen, dass nicht sämtliche Funktionen unseres Internetauftritts
                                    vollumfänglich nutzbar sind.</p>
                            </div>
                        </div>


                        <div *ngIf="active == 4">
                            <div class="Vorwort">
                                <ul>
                                    <li>
                                        <h2>1. Informationen zum Urheberrecht </h2>
                                    </li>
                                </ul>
                                <p>Alle Informationen dieser Web-Seite werden wie angegeben ohne Anspruch auf
                                    Richtigkeit, Vollständigkeit oder Aktualität zur Verfügung gestellt. Wenn nicht
                                    ausdrücklich anderweitig in dieser Publikation zu verstehen gegeben, und zwar in
                                    Zusammenhang mit einem bestimmten Ausschnitt, einer Datei, oder einem Dokument, ist
                                    jedermann dazu berechtigt, dieses Dokument anzusehen, zu kopieren, zu drucken und zu
                                    verteilen, unter den folgenden Bedingungen: Das Dokument darf nur für
                                    nichtkommerzielle Informationszwecke genutzt werden. Jede Kopie dieses Dokuments
                                    oder eines Teils davon muss diese urheberrechtliche Erklärung und das
                                    urheberrechtliche Schutzzeichen des Betreibers enthalten. Das Dokument, jede Kopie
                                    des Dokuments oder eines Teils davon dürfen nicht ohne schriftliche Zustimmung des
                                    Betreibers verändert werden. Der Betreiber behält sich das Recht vor, diese
                                    Genehmigung jederzeit zu widerrufen, und jede Nutzung muss sofort eingestellt
                                    werden, sobald eine schriftliche Bekanntmachung seitens des Betreibers
                                    veröffentlicht wird.</p>
                                <p></p>
                            </div>
                            <div class="Vorwort1">
                                <ul>
                                    <li>
                                        <h2>2. Vertragliche Zusicherungen und</h2>
                                    </li>
                                </ul>
                                <p>Verzichterklärungen Die Website der Fioretto Group Holding GmbH steht Ihnen – soweit
                                    nicht anders vereinbart – kostenlos zur Verfügung. Die Betreiber übernehmen
                                    keinerlei Gewähr für Richtigkeit der enthaltenen Informationen, Verfügbarkeit der
                                    Dienste, Verlust von auf Fioretto Group Holding GmbH abgespeicherten Daten oder
                                    Nutzbarkeit für irgendeinen bestimmten Zweck.
                                    Die Betreiber haften auch nicht für Folgeschäden, die auf einer Nutzung des
                                    Angebotes beruhen. Soweit ein Haftungsausschluss nicht in Betracht kommt, haften die
                                    Betreiber lediglich für grobe Fahrlässigkeit und Vorsatz. Produkt- und Firmennamen
                                    sind Marken der jeweiligen Eigentümer und werden auf diesen Seiten ausschließlich zu
                                    Informationszwecken eingesetzt.</p>
                                <p>Diese Publikation könnte technische oder andere Ungenauigkeiten enthalten oder
                                    Schreib- oder Tippfehler. Von Zeit zu Zeit werden der vorliegenden Information
                                    Änderungen hinzugefügt; diese Änderungen werden in neuen Ausgaben der Publikation
                                    eingefügt. Der Betreiber kann jederzeit Verbesserungen und/oder Veränderungen an den
                                    Angeboten vornehmen, die in dieser Publikation beschrieben werden.</p>
                                <p style="margin-left: 10px;"> 1. Meinungsäußerungen bei Kommentaren und im Forum
                                    Aufgrund der sich ständig
                                    verändernden Inhalte bei Kommentaren und im Forum ist es dem Betreiber nicht
                                    möglich, alle Beiträge lückenlos zu sichten, inhaltlich zu prüfen und die
                                    unmittelbare aktive Kontrolle darüber auszuüben. Es wird keine Verantwortung für den
                                    Inhalt, die Korrektheit und die Form der eingestellten Beiträge übernommen.</p>
                                <ul>
                                    <li>
                                        <h2>3a. Spezielle </h2>
                                    </li>
                                </ul>
                                <p>Bestimmungen für angemeldete Nutzer Mit der Anmeldung bei Fioretto
                                    Group Holding GmbH erklärt sich der Nutzer – nachfolgend »Mitglied« gegenüber dem
                                    Betreiber mit folgenden Nutzungsbedingungen einverstanden: Mitglieder, die sich an
                                    Diskussionsforen und Kommentaren beteiligen, verpflichten sich dazu,</p>
                                <p style="margin-left: 10px;"> 1. Sich in Ihren Beiträgen jeglicher Beleidigungen,
                                    strafbarer Inhalte, Pornographie und grober Ausdrucksweise zu enthalten,</p>
                                <p style="margin-left: 10px;"> 2. Die alleinige Verantwortung für die von ihnen
                                    eingestellten Inhalte zu tragen, Rechte Dritter (insbesondere Marken-, Urheber- und
                                    Persönlichkeitsrechte) nicht zu verletzen und die Betreiber von »Fioretto Group
                                    Holding GmbH« von durch ihre</p>
                                <p>Beiträge ausgelösten Ansprüchen Dritter vollständig freizustellen. 3. Weder in Foren
                                    noch in Kommentaren Werbung irgendwelcher Art einzustellen oder Foren und Kommentare
                                    zu irgendeiner Art gewerblicher Tätigkeit zu nutzen. Insbesondere gilt das für die
                                    Veröffentlichung von »0900«-Rufnummern zu irgendeinem Zweck.</p>
                                <p>Es besteht keinerlei Anspruch auf Veröffentlichung von eingereichten Kommentaren oder
                                    Forenbeiträgen. Die Betreiber von »Fioretto Group Holding GmbH« behalten sich vor,
                                    Kommentare und Forenbeiträge nach eigenem Ermessen zu editieren oder zu löschen. Bei
                                    Verletzungen der Pflichten unter 1), 2) und 3) behalten sich die Betreiber ferner
                                    vor, die Mitgliedschaft zeitlich begrenzt zu sperren oder dauernd zu löschen.</p>
                                <ul>
                                    <li>
                                        <h2> 4. Einreichen von </h2>
                                    </li>
                                </ul>
                                <p>Beiträgen und Artikeln Soweit das Mitglied von der Möglichkeit Gebrauch macht, eigene
                                    Beiträge für redaktionellen Teil von »Fioretto Group Holding GmbH« einzureichen,
                                    gilt Folgendes: Voraussetzung für das Posten eigener Beiträge ist, dass das Mitglied
                                    seinen vollständigen und korrekten Vor- und Nachnamen in sein »Fioretto Group
                                    Holding GmbH« – Benutzerprofil eingetragen hat oder nach dem Einreichen des Artikels
                                    dort einträgt. Mit dem dort eingetragenen Namen wird der eingereichte Beitrag bei
                                    Veröffentlichung (öffentlich) gekennzeichnet. Das Mitglied gibt für alle Beiträge,
                                    die von ihm oder ihr zukünftig auf »Fioretto Group Holding GmbH« eingereicht werden,
                                    folgende Erklärungen ab:</p>
                                <ul>
                                    <li>
                                        <h2> 5. Das Mitglied versichert,</h2>
                                    </li>
                                </ul>
                                <p>das die eingereichten Beiträge frei von Rechten Dritter, insbesondere Urheber-,
                                    Marken- oder Persönlichkeitsrechten sind. Dies gilt für alle eingereichten Beiträge
                                    und Bildwerke.</p>
                                <ul>
                                    <li>
                                        <h2> 6. Das Mitglied räumt den </h2>
                                    </li>
                                </ul>
                                <p>Betreibern von »Fioretto Group Holding GmbH« ein uneingeschränktes Nutzungsrecht an
                                    den eingereichten Beiträgen ein. Dieses umfasst die Veröffentlichung im Internet auf
                                    »Fioretto Group Holding GmbH« sowie auf anderen Internetservern, in Newslettern,
                                    Printmedien und anderen Publikationen.</p>
                                <ul>
                                    <li>
                                        <h2> 7. Eingereichte Beiträge werden auf </h2>
                                    </li>
                                </ul>
                                <p> Verlangen des Mitgliedes per Email an die Adresse des Webmasters wieder gelöscht
                                    bzw. anonymisiert. Die Löschung bzw. Anonymisierung erfolgt innerhalb von 7 Tagen
                                    nach der Mitteilung. Für Folgeschäden, die dem Mitglied aus der verspäteten Löschung
                                    des Beitrages entstehen haften die Betreiber nur insoweit, als sie nicht auf einer
                                    Pflichtverletzung des Mitgliedes (oben unter 1), 2) und 3) ) und soweit sie darüber
                                    hinaus auf grobem Verschulden oder Vorsatz der Betreiber von »Fioretto Group Holding
                                    GmbH« beruhen. Wir weisen in diesem Zusammenhang ausdrücklich darauf hin, dass die
                                    »Fioretto Group Holding GmbH« regelmäßig von Suchmaschinen indexiert wird, und dass
                                    wir keinen Einfluss darauf haben, ob, wo und wie lange bei uns veröffentlichte
                                    Beiträge möglicherweise auch nach Löschung bei der »Fioretto Group Holding GmbH« in
                                    Datenbanken von Suchmaschinen und Webkatalogen gespeichert werden und abrufbar sind.
                                </p>
                                <ul>
                                    <li>
                                        <h2> 8. Es besteht keinerlei Anspruch auf </h2>
                                    </li>
                                </ul>
                                <p> Speicherung, Veröffentlichung oder Archivierung der eingereichten Beiträge. Die
                                    Betreiber behalten sich vor, eingereichte Beiträge ohne Angabe von Gründen nicht zu
                                    veröffentlichen, vor Veröffentlichung zu editieren oder nach Veröffentlichung nach
                                    freiem Ermessen wieder zu löschen.
                                </p>
                                <ul>
                                    <li>
                                        <h2> 9. Durch die Veröffentlichung eingereichter </h2>
                                    </li>
                                </ul>
                                <p>Beiträge entstehen keinerlei Vergütungsansprüche (Honorare, Lizenzgebühren,
                                    Aufwendungsentschädigungen oder ähnliches) des Mitgliedes gegenüber der »Fioretto
                                    Group Holding GmbH«. Die Mitarbeit ist ehrenamtlich (unentgeltlich).
                                </p>
                                <ul>
                                    <li>
                                        <h2>10. Erklärung zum </h2>
                                    </li>
                                </ul>
                                <p>Datenschutz (Privacy Policy) Sofern innerhalb des Internetangebotes die Möglichkeit
                                    zur Eingabe persönlicher oder geschäftlicher Daten genutzt wird, so erfolgt die
                                    Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die
                                    Inanspruchnahme unseres Dienstes ist – soweit technisch möglich und zumutbar – auch
                                    ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines
                                    Pseudonyms gestattet. Weitere wichtige Informationen zum Thema Datenschutz finden
                                    sich in unserer Erklärung zum Datenschutz.
                                </p>
                                <ul>
                                    <li>
                                        <h2>11. Registrierung und Passwort </h2>
                                    </li>
                                </ul>
                                <p>Der Benutzer ist verpflichtet, die Kombination Benutzername/Passwort vertraulich zu
                                    behandeln und nicht an Dritte weiterzugeben. Bei Verdacht auf Missbrauch der
                                    Zugangsdaten ist der Betreiber zu informieren.</p>
                                <ul>
                                    <li>
                                        <h2>12. Hinweis gemäß </h2>
                                    </li>
                                </ul>
                                <p>Teledienstgesetz Für Internetseiten Dritter, auf die die dieses Angebot durch sog.
                                    Links verweist, tragen die jeweiligen Anbieter die Verantwortung. Der Betreiber ist
                                    für den Inhalt solcher Seiten Dritter nicht verantwortlich. Des Weiteren kann die
                                    Web-Seite ohne unser Wissen von anderen Seiten mittels sog. Links angelinkt werden.
                                    Der Betreiber übernimmt keine Verantwortung für Darstellungen, Inhalt oder
                                    irgendeine Verbindung zu dieser Web-Seite in Web-Seiten Dritter. Für fremde Inhalte
                                    ist der Betreiber nur dann verantwortlich, wenn von ihnen (d.h. auch von einem
                                    rechtswidrigen oder strafbaren Inhalt) positive Kenntnis vorliegt und es technisch
                                    möglich und zumutbar ist, deren Nutzung zu verhindern. Der Betreiber ist nach dem
                                    Teledienstgesetz jedoch nicht verpflichtet, die fremden Inhalte ständig zu
                                    überprüfen.</p>

                                <p>Kontakt Bei Fragen rund um die DFG Finanzprofi GmbH , bitte an den Webmaster richten.
                                </p>
                                <p>Rechtswirksamkeit Diese Allgemeinen Nutzungsbedingungen beziehen sich auf die
                                    Fioretto GmbH Website. Sofern Teile oder einzelne Formulierungen dieses Textes der
                                    geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten,
                                    bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon
                                    unberührt.</p>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-new">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="about_content">
                    <img src="assets/cefima/logo.svg">
                    <p>Wir sind eine 💯% digitale Finanzplattform für
                        Gewerbetreibende, Finanzvermittler und all
                        deren Kunden.</p>
                    <h2>Bald zum Download:</h2>
                    <ul>
                        <li class="links1"><a role="button"><img src="assets/cefima/googleplay.svg"></a></li>
                        <li class="links1"><a role="button"><img src="assets/cefima/applestore.svg"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="link_section">
                    <h2>Schnellzugriff</h2>
                    <span></span>
                    <p></p>
                    <ul>
                        <li class="links1"><a role="button">Über uns</a></li>
                        <li class="links1"><a role="button">Produktwelt</a></li>
                        <li class="links1"><a role="button">Karriere</a></li>
                        <li class="links1"><a role="button">Neuigkeiten</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="link_section">
                    <h2>Rechtliches</h2>
                    <span></span>
                    <p></p>
                    <ul>
                        <li class="links1"><a role="button">Impressum</a></li>
                        <li class="links1"><a role="button">Datenschutz</a></li>
                        <li class="links1"><a role="button">Cookies</a></li>
                        <li class="links1"><a role="button">Nutzungsbedingungen</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="link_section">
                    <h2>Kontakt</h2>
                    <span></span>
                    <p></p>
                    <ul>
                        <li class="links1"><img src="assets/cefima/icon37.svg" class="phone-icon"><a role="button">+49 /
                                ( 0 ) 6652 / 9824
                                – 688</a></li>
                    </ul>
                </div>

                <div class="about_footer">
                    <h2>Gefördert durch:</h2>
                    <p>Hessisches Ministerium fur Wirtschaft, Energie, Verkehr und Wohnen</p>
                    <ul>
                        <li class="links1"><a role="button"><img src="assets/cefima/hessen.svg"></a></li>
                        <li class="links1"><a role="button"><img src="assets/cefima/DIGI.svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-editing-something">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-content">
                    <span>© 2023 CEFIMA V 1.1.5 |
                        <a class="text-decoration-none text-white" role="button" [routerLink]="['/data-policy']"
                            [queryParams]="{ id: '1' }"><label class="links1 m-0" role="button">Impressum</label></a> |
                        <a class="text-decoration-none text-white" role="button" [routerLink]="['/data-policy']"
                            [queryParams]="{ id: '2' }"><label class="links1 m-0"
                                role="button">Datenschutzbestimmungen</label></a> |
                        <a class="text-decoration-none text-white" role="button" [routerLink]="['/data-policy']"
                            [queryParams]="{ id: '3' }"><label class="links1 m-0" role="button">Cookies</label></a> |
                        <a class="text-decoration-none text-white" role="button" [routerLink]="['/data-policy']"
                            [queryParams]="{ id: '4' }"><label class="links1 m-0"
                                role="button">Nutzungsbedingungen</label></a>
                    </span>
                </div>
                <a role="button" class="footer_KONTAKT">KONTAKT</a>
            </div>
        </div>
    </div>
</div>